@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000;
  --background-hex: #F4F4F5;
  scroll-behavior: smooth;
}

.dark {
  --foreground-hex: #FFF;
  --background-hex: #0A0A0A;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

@font-face {
  font-family: "Grifter";
  src: url("https://assets.website-files.com/5837424ae11409586f837994/611aee5b70cc88187b78993c_GRIFTER.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

